body {
	background-image: url("fondo_tienda.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    background-color: beige
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.cardd {

    width: 400px; margin: auto auto;
    opacity: .9;
}

.card-headerr {

  background-color: rgb(226, 226, 226);

}

.card-bodyy {

  background-color: aliceblue;
  
}

.colortitulos{
	
	color: white;
	
}

.nav{
	
	background-color: white;
		
}

.colorboton{
	
	background-color: purple;
}

.btn{
	
	width: auto; margin: 0 auto;
}

.alineacion{
	width: 420px; margin: auto 820px ;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}


