body {
	background-image: url("fondo5.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-laravel {
	box-shadow: 0 2px 4px rgba(0, 0, 0, .04);
	background-color: rgb(0, 255, 0)
}

.navbar-brand, .nav-link, .my-form, .login-form {
	font-family: Raleway, !important;
}

.my-form {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.my-form .row {
	margin-left: 0;
	margin-right: 0;
}

.login-form {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.login-form .row {
	margin-left: 0;
	margin-right: 0;
}

.card {
	width: auto;
	margin: auto auto;
	opacity: .9;
}

.card-header {
	background-color: rgb(226, 226, 226);
}

.card-body {
	background-color: aliceblue;
}

.colortitulos {
	color: white;
}

.nav {
	background-color: white;
}

.colorboton {
	background-color: purple;
}

.btn {
	width: 100px;
	margin: 0 auto;
}